//product categories
.p-cat-con{
	display: flex;
	justify-content: space-between;
	width: $containerw;
	max-width: 100%;
	margin: 90px auto 0 auto;
	
	@media screen and (max-width: $small) {
		width: 100%;
		margin: 15px 0 0 0;
		
	}
}
.p-cat {
	width: 370px;

		h2{
		font: 23px $primFont;
			a{
			color: $orange;
				&:hover{
				text-decoration: underline;
				}
			}
		}
		p{
		font-family: $secFont;
		font-size: 14px;
		line-height: 20px;
		color: $greyf;
		}
	@media screen and (max-width: $small) {
		max-width: 32%;
		img{
			max-width: 100%;
		}
		h2{
			font-size: 12px;
			margin: 4px 0;
		}
		p{
			font-size: 10px;
			line-height: 15px;
		}
	}
}


//products heading
.popular-prod{
	margin-top: 50px;
	//find anden løsning
	h2 {
	font: 23px $primFont;
	color: $greyh;
	text-transform: uppercase;
	text-align: center;
	border-bottom: 1px solid #ddd;
	line-height: 0;
	padding: 0;
	}

	h2 span {
		background: #fff;
		padding: 0 15px;
		margin: 0 250px;
	}
}


//products
.container{
	margin: 50px auto;
	width: 1200px;
		@media screen and (max-width: $small) {
			margin-bottom: 20px;
			width: 100%;
		}
}

.product{
	padding: 0 15px;
	margin-bottom: 30px;
		@media screen and (max-width: $small) {
			padding: 0 7.5px;
		}
}
.prod-border{
	border: 1px solid #eeeeee;
}
.prod-img{
	padding: 5px 10px;
	i{
	color:$orange;
	}
	img, i{
		max-width: 100%;
	}
}
.desc-con{
	margin: 0;
	padding: 0 20px;
	border-top: 1px solid #eeeeee;
	@media screen and (max-width: $small) {
		padding: 0 5px;
	}
}
.prod-desc{
	color: $greyh;
	h3{
		font-size: 18px;
		font: $primFont;
		margin-bottom: 2px;
	}
	h4{
		font-size: 14px;
		font: $primFont;
		margin: 0;
	}
	p{
		font-size: 12px;
		font: $secFont;
	}
	@media screen and (max-width: $small) {
		h3{
			font-size: 14px;
		}
		h4{
			font-size: 12px;
			margin-bottom: 2px;
		}
		p{
			font-size: 10px;
		}
	}
}
.price-icons{
	border-top: 1px solid #eeeeee;
	padding: 10px 0 30px 0;
	p{
		float: left;
		color: $orange;
		font: $secFont;
		font-size: 14px;
	}
	i{
		margin-left: 8px;
		float: right;
		color: $greyh;
		font-size: 16px;
		&:hover{
			color: $orange;
		}
	}
	@media screen and (max-width: $small) {
		padding: 7.5px 0 25px 0;
		p{
			font-size: 12px;
		}
		i{
			font-size: 14px;
		}
	}
}
.buy-grid{
      @extend .buttonM;
      font-size: 14px;
	  width: 100%;
	  padding: 10px 0;
	@media screen and (max-width: $small) {
		margin: 0px;
		font-size: 12px;
		padding: 7.5px 0;
	}
}