//product categories
.p-cat-con{
	display: flex;
	justify-content: space-between;
	width: $containerw;
	max-width: 100%;
	margin: 40px auto 0 auto;
	
	@include small{
		width: 95%;
		margin: 15px auto 0 auto;
		
	}
}
.p-cat {
	width: 370px;

		h2{
		font: 2.3em $primFont;
			a{
			color: $orange;
				&:hover{
				text-decoration: underline;
				}
			}
		}
		p{
		font-family: $secFont;
		font-size: 1.4em;
		line-height: 20px;
		color: $greyf;
		}
	@include small {
		max-width: 32%;
		img{
			max-width: 100%;
		}
		h2{
			font-size: 1.2em;
			margin: 4px 0;
		}
		p{
			font-size: 1em;
			line-height: 15px;
		}
	}
}


//products heading
.popular-prod{
	margin-top: 50px;
	h2 {
	font: 2.3em $primFont;
	color: $greyh;
	text-transform: uppercase;
	text-align: center;
	border-bottom: 1px solid #ddd;
	line-height: 0;
	padding: 0;
	@include small{
		font-size: 1.5em;
	}
	}

	h2 span {
		background: #fff;
		padding: 0 15px;
		@include small{
		padding: 0 5px;
		}
	}
}
.heading{
	width: 560px;
	margin: 0 auto;
	@include small{
		width: 70%;
	}
}

//products
.container{
	margin: 50px auto;
	width: 1200px;
		@include small{
			width: 85%;
		}
}
.product{
	padding: 0 15px;
	margin-bottom: 30px;
}
.prod-border{
	border: 1px solid #eeeeee;
}
.prod-img{
	padding: 10px 5px 35px 10px;
	i{
	color:$orange;
	}
	img{
		max-width: 100%;
	}
	@include small{
		padding: 15px 10px 35px 20px;
	}
}
.desc-con{
	margin: 0;
	padding: 0 20px;
	border-top: 1px solid #eeeeee;
}
.prod-desc{
	
	&:hover{
		text-decoration: underline;
	}

	a{
		color: $greyh;
	}

	h3{
		font-size: 1.8em;
		font: $primFont;
		margin-bottom: 3px;
	}
	h4{
		font-size: 1.4em;
		font: $primFont;
		margin: 2px 0;
	}

	p{
		font-size: 1.2em;
		font: $secFont;
	}
}
.price-icons{
	border-top: 1px solid #eeeeee;
	padding: 10px 0 30px 0;
	p{
		float: left;
		color: $orange;
		font: $secFont;
		font-size: 1.4em;
	}
	i{
		margin-left: 8px;
		float: right;
		color: $greyh;
		font-size: 1.6em;
		&:hover{
			color: $orange;
		}
	}
}
.buy-grid{
      @extend .buttonM;
      font-size: 1.4em;
	  width: 100%;
	  padding: 10px 0;
	  @include small{
		margin: 0px;
		padding: 7.5px 0;
	}
}