@import url('https://fonts.googleapis.com/css?family=PT+Sans');
//colors
$orange: #f45a40;
$greyf: #7e7f84;
$greyh: #67686d;
$white: #ffffff;


$containerw: 1170px;
$small: 1000px;

$primFont: 'PT Sans', sans-serif;
$secFont: Arial, Helvetica, sans-serif;

.buttonM{
    font-family: $secFont;
    color: $white;
    background-color: $orange;
    text-transform: uppercase;
    text-align: center;
    border: 0px;
    transition: color 0.5s;
    -webkit-transition: color 0.5s;
    &:hover{
      color: #2a2d34;
    }
}
.searchM{
    border:none;
    background-color: $white;

    &:active, &:hover, &:focus{
        border: 0.5px solid $orange;
        box-shadow:0 0 1px $orange;
        -moz-box-shadow:0 0 1px $orange;
        -webkit-box-shadow:0 0 1px $orange;
    }
}
@mixin small {
  @media only screen and (max-width: 1000px) {
    @content;
  }
}

textarea:hover, 
input:hover, 
textarea:active, 
input:active, 
textarea:focus, 
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active
{
    outline: 0px;
    -webkit-appearance:none;
}

h1, h2, h3, h4, h5, h6{
    text-transform: uppercase;
    font-family: $primFont; 
}
