@import url('https://fonts.googleapis.com/css?family=PT+Sans');
//colors
$orange: #f45a40;
$greyf: #7e7f84;


$containerw: 1170px;

$primFont: 'PT Sans', sans-serif;
$secFont: Arial, Helvetica, sans-serif;